 .container-fluid {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    }

  #toolbar-background-color {
    background-color: #363636;
    color:white;
  }

  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;    
  }

  

  h1.h1-app-name {
    margin-left: 8px;
  }

  
  #sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;    
    position: static;
    margin-top: 0px;
  }
  
  .is-mobile #sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  @media (max-width: 768px) {
    #top-mat-drawer {
        top: 47px !important;
    }
    .mat-toolbar {
        display: inline-flex;
        width: 100%;
        height: 7%;
        padding-top:1%;
      }
  }

  @media (min-width: 769px) {
    #top-mat-drawer {
        top: 54px !important;
    }
    .mat-toolbar {
        display: inline-flex;
        width: 100%;
        height: 7%;
      }
  }

  @media (min-width: 1280px) {
    #top-mat-drawer {
        top: 72px !important;
    }
    .mat-toolbar {
        display: inline-flex;
        width: 100%;
        height: 7%;
      }
  }

  @media (min-width: 1366px) {
    #top-mat-drawer {
        top: 54px !important;
    }
    .mat-toolbar {
        display: inline-flex;
        width: 100%;
        height: 7%;
      }
  }

  @media (min-width: 1920px) {
    #top-mat-drawer {
        top: 76px !important;
    }
    .mat-toolbar {
        display: inline-flex;
        width: 100%;
        height: 7%;
    }      
  }

  @media (min-width: 1921px) {
    #top-mat-drawer {
        top: 59px !important;
    }
    .mat-toolbar {
        display: inline-flex;
        width: 100%;
        height: 7%;
      }          
  }

  .router-padding {        
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    margin:0;
  }