@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.row {
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  .mat-stepper-vertical {
    min-width: 60%;       
  }  
}

@media (min-width: 1025px) {
  .mat-stepper-vertical {
    min-width: 60%;  
    margin-left: 45%;
  }  
}

@media (min-width: 1281px) {
  .mat-stepper-vertical {
    min-width: 60%;  
    margin-left: 45%;
  }  
}

@media (min-width: 1367px) {
  .mat-stepper-vertical {
    min-width: 60%;  
    margin-left: 42%;
    text-align: left;
  }  
}
@media (min-width: 1921px) {
  .mat-stepper-vertical {
    width: 60%;   
  }  
}