
  <div class="container">
     <div class="row">
          <h2 class="center">Order History</h2>
        <!-- <div *ngIf="clonedOrder.length == 0">
           <h4>Empty</h4>
        </div> -->
        <div *ngIf="clonedOrder.length > 0">
           <div class="search-bar">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder="&#61442;  Search">
           </div>
           <table  style='border-collapse:collapse'  class="table table-striped">
              <thead>
                 <tr>
                    <th (click)="SortList('order_Number')">Order Number
                       <span *ngIf="key == 'order_Number'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down"></i>
                       </span>
                       </span>                
                    </th>
                    <th (click)="SortList('orderDate')">Order Date
                       <span *ngIf="key == 'orderDate'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down"></i>
                       </span>
                       </span>                
                    </th>
                    <th (click)="SortList('type')">Type
                       <span *ngIf="key == 'type'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down"></i>
                       </span>
                       </span>            
                    </th>
                    <th (click)="SortList('cpu')">CPU
                       <span *ngIf="key == 'cpu'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down"></i>
                       </span>
                       </span>              
                    </th>
                    <th (click)="SortList('motherboard')">Motherboard
                       <span *ngIf="key == 'motherboard'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>                 
                    </th>
                    <th (click)="SortList('ram')">RAM
                       <span *ngIf="key == 'ram'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>                    
                    </th>
                    <th (click)="SortList('gpu')">GPU
                       <span *ngIf="key == 'gpu'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>              
                    </th>
                    <th (click)="SortList('storage')">Storage
                       <span *ngIf="key == 'storage'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>               
                    </th>
                    <th (click)="SortList('power_Supply')">PowerSupply
                       <span *ngIf="key == 'power_Supply'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>                   
                    </th>
                    <th (click)="SortList('cooling_Fan')">Cooling Fan
                       <span *ngIf="key == 'cooling_Fan'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>                     
                    </th>
                    <th (click)="SortList('case')">Case
                       <span *ngIf="key == 'case'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>                      
                    </th>
                    <th (click)="SortList('total_Price')">Total Price
                       <span *ngIf="key == 'total_Price'">
                       <span *ngIf="reverse">
                       <i class="fa fa-arrow-up" aria-hidden="true"></i>
                       </span>
                       <span *ngIf="!reverse">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i>
                       </span>
                       </span>                       
                    </th>
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let t of clonedOrder | filter:searchText | orderBy: key : reverse| paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{t.order_Number}}</td>
                    <td>{{t.orderDate| date:'MM/dd/yyyy'}}</td>
                    <td>{{t.type}}</td>
                    <td>{{t.cpu}}</td>
                    <td>{{t.motherboard}}</td>
                    <td>{{t.ram}}</td>
                    <td>{{t.gpu}}</td>
                    <td>{{t.storage}}</td>
                    <td>{{t.power_Supply}}</td>
                    <td>{{t.cooling_Fan}}</td>
                    <td>{{t.case}}</td>
                    <td>{{t.total_Price}}</td>
                 </tr>
              </tbody>
           </table>
           <pagination-controls class="text-left" (pageChange)="p = $event"></pagination-controls>
        </div>
     </div>
  </div>
