.example-card {
    max-width: 400px;
    height:750px;
    margin-top:5% !important;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
