<div class="container">
  <div class="row">       
  
    <mat-radio-group class="example-radio-group" [(ngModel)]="selection">
      <mat-radio-button class="example-radio-button" *ngFor="let select of radioSelection" (change)="filterItems(select)">
        {{select}}
      </mat-radio-button>
    </mat-radio-group>


      <div *ngFor="let j of selectedItems; let i = index">     


      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Seller</mat-card-title>
            <mat-card-subtitle>Dynamic Value</mat-card-subtitle>
          </mat-card-header>         
          <img (click)="openDialog(photo)" matTooltip="Click to expand." *ngFor="let photo of collectionPhotos[i]" src="/Uploads/{{ photo.fileName }}" class="img-thumbnail">                  
            <mat-card-content>       
              <p >CPU:<br> {{j.cpu}}</p>                   
              <p>Motherboard:<br> {{j.motherboard}}</p>
              <p>RAM:<br> {{j.ram}}</p>
              <p>Storage:<br> {{j.storage}}</p>
              <p>GPU:<br> {{j.gpu}}</p>
              <p>Powersupply:<br> {{j.power_Supply}}</p>
              <p>Cooling Fan:<br> {{j.cooling_Fan}}</p>                   
              <p>Case:<br> {{j.case}}</p>                                   
              <p>Total Price: ${{j.total_Price}}</p>
            </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addToCart(i)">Add to Cart</button> 
          </mat-card-actions>
        </mat-card>
        </div>
         
  </div>
 </div>
 