@media (min-width: 768px) {
  .buy-card {
    max-width: 400px !important;
    display: block;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }
}

@media (max-width: 767px) {
  .buy-card {
    max-width: 300px !important;
    display: block;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }
}

.buy-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png');
  background-size: cover;
}

.buy-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.buy-radio-button {
  margin: 5px;
}

.buy-selected-value {
  margin: 15px 0;
}

.row {
  text-align: center;
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.col-2, .col-sm-5 {
  display: inline-block;
  float: none;
}

.word-overflow {
  overflow-wrap: break-word;
  text-align: left;
}

.title-label {
  text-align: left;
  text-decoration: underline;
}

.trash-button {
  padding: 0 !important;
  border: none !important;
  background: none !important;
  margin-left: 10%;
}