@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  .by-country, .by-name {
    text-decoration: underline;
    padding-left: 10px;
    cursor: pointer;
  }