@import "~bootstrap/dist/css/bootstrap-grid.css";


.row {
  height:fit-content;
  text-align: center;
}

.mat-tab-group {
  height: 100%;
}

.dashboard-tab-icon {
  margin-right: 8px;
}

.search-bar {
  width: 500px;
  padding-bottom: 25px;
  margin: auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder {
  font-family: FontAwesome;
}

.dashboard-card {
  max-width: 400px;
  background-color: #3F51B5 !important;
}

.filter-length {
  float: right;
  min-width: 300px;
}

.text-primary {
  color: black !important;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.button-no-border {
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

@media (max-width: 768px) {
  .first-margin {
    margin-top: 13%;
  }

  .bar-margin {
    margin-top: 10%;
  }

  .icon-margin {
    margin-top: 15%;
  }

  .margin-box {
    margin-top: 40%;
  }

  .margin-box-left-label {
    margin-left: 11%;
    margin-top: -5%;
  }

  .first-margin {
    margin-left: 3%;
  }

  .rectangle-users {
    height: 50px;
    max-width: 150px;
    background-color: #3F51B5 !important;
  }

  .rectangle-revenue {
    height: 50px;
    max-width: 150px;
    background-color: #EF4D4A !important;
  }

  .rectangle-orders {
    height: 50px;
    max-width: 150px;
    background-color: #2196F7 !important;
  }
}

@media (min-width: 1023px) {
  .first-margin {
    margin-top: 13%;
  }

  .bar-margin {
    margin-top: 10%;
  }  

  .icon-margin {
    margin-top: 42%;
  }

  .margin-box {
    margin-top: 40%;
  }

  .margin-box-left-label {
    margin-left: 22%;    
  }

  .first-margin {
    margin-left: 5%;
  }

  .rectangle-users {
    height: 70px;
    max-width: 220px;
    background-color: #3F51B5 !important;
  }

  .rectangle-revenue {
    height: 70px;
    max-width: 220px;
    background-color: #EF4D4A !important;
  }

  .rectangle-orders {
    height: 70px;
    max-width: 220px;
    background-color: #2196F7 !important;
  }
}

@media (min-width: 1279px) {
  .first-margin {
    margin-top: 13%;
  }

  .bar-margin {
    margin-top: 10%;
  }

  .icon-margin {
    margin-top: 42%;
  }

  .margin-box {
    margin-top: 40%;
  }

  .first-margin {
    margin-left: 7%;
  }

  .rectangle-users {
    height: 70px;
    max-width: 220px;
    background-color: #3F51B5 !important;
    margin-left: 5%;
  }

  .rectangle-revenue {
    height: 70px;
    max-width: 220px;
    background-color: #EF4D4A !important;
  }

  .rectangle-orders {
    height: 70px;
    max-width: 220px;
    background-color: #2196F7 !important;
  }
}

@media (min-width: 1365px) {
  .first-margin {
    margin-top: 7%;
  }

  .bar-margin {
    margin-top: 5%;
  }

  .icon-margin {
    margin-top: 30%;
  }

  .margin-box {
    margin-top: 40%;
  }

  .first-margin {
    margin-left: 6%;
  }

  .rectangle-users {
    height: 70px;
    min-width: 225px;
    background-color: #3F51B5 !important;
  }

  .rectangle-revenue {
    height: 70px;
    min-width: 225px;
    background-color: #EF4D4A !important;
  }

  .rectangle-orders {
    height: 70px;
    min-width: 225px;
    background-color: #2196F7 !important;
  }
}

@media (min-width: 1919px) {
  .icon-margin {
    margin-top: 60%;
  }

  .bar-margin {
    margin-top: 10%;
  }

  .margin-box {
    margin-top: 30%;
  }

  .rectangle-users {
    height: 80px;
    min-width: 245px;
    background-color: #3F51B5 !important;
  }

  .rectangle-revenue {
    height: 80px;
    min-width: 245px;
    background-color: #EF4D4A !important;
  }

  .rectangle-orders {
    height: 80px;
    min-width: 245px;
    background-color: #2196F7 !important;
  }
  .first-margin {
    margin-left: 2%;
  }
}
