.address {
  width: 30%;
}
.state {
  width: 12%;
}
.zipcode {
  margin-left: 3%;
  width: 15%;
}
.row {
  margin-top:2%;
  display:block;
}
h4 {
  margin-top:5%;
}
.button-margin {
  margin-top:2%;
}
@media (max-width: 768px) {
  .container {
      padding-left: 10%;
      padding-right: 10%;
 }
}
